* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "Open Sans";
    font-weight: 500 600;
    src: url(./assets/font/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open Sans bold";
    font-weight: 500 600;
    src: url(./assets/font/Open_Sans/OpenSans-Bold.ttf);
}

/* Header  */

body {
    font-family: "Open Sans";
}

header {
    background: url(./Images/mastehead.jpg) no-repeat center/ cover;
    height: 70vh;
    background-color: palegreen;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    justify-content: space-between;
}

header nav .nav_logtake {
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;    
}

header nav h2 {
    font-style: italic;
    font-size: 15px;
    margin-left: 5px;
    padding: 0;
}

header .page_accueil_titre {
    padding-left: 10%;
    padding-bottom: 30%;
    width: 50%;
}

header .page_accueil_titre h1{
    color:  #fff;
    font-size: 30px;
}

header .page_accueil_titre h2 {
    color:  #fff;
    font-size: 10px;
}

/* Main section */
#main_section {
    width: 100%;
    background-color:  #fff;
}

#main_section .main_section_description .main_section_description_start{
    width: 100%;
    padding-top: 15%;
    padding-right: 10%;
    padding-left: 10%;
    background-color:  #fff;
}

#main_section .main_section_description .main_section_description_start h1 {
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
}

#main_section .main_section_description .main_section_description_start p {
    font-size: 10px;
}

#main_section .main_section_description_services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
}

#main_section .main_section_description .main_section_description_design {
    padding: 7%;
    background-color:#F3989F;
    color: #fff;
}

#main_section .main_section_description .main_section_description_built {
    padding: 7%;
    background-color:#5F5F80;
    color: #fff;
}

#main_section .main_section_description .main_section_description_clients {
    padding: 7%;
    background: url(./Images/box-bg.jpg) no-repeat center/ cover;
    background-color: rosybrown;
    color: #fff;
}

#main_section .main_section_description .main_section_description_signup {
    padding: 7%;
    background: url(./Images/box-bg-lg.jpg) no-repeat center/ cover;
    background-color: coral;
    color: #fff;
}

#main_section .main_section_description .main_section_description_pictures {
    padding: 7%;
    background-color: #82C99E;
    color: #fff;
}

.main_section_description_design a,
.main_section_description_built a,
.main_section_description_clients a,
.main_section_description_signup a,
.main_section_description_pictures a {
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    font-family: "Open Sans bold";
}

/* Look at the details section */
#main_section .main_section_description .main_section_description_end {
    padding: 5%;
}

#main_section .main_section_description .main_section_description_end h2 {
    padding-bottom: 20px;
    font-size: 20px;
}

#main_section .main_section_description .main_section_description_end h3 {
    padding-top: 20px;
    font-size: 10px;
}

#main_section .main_section_description .main_section_description_end p {
    font-size: 9px;
    padding-top: 10px;
}

/* Section Power */

#section_power_img {
    background: url(./Images/full-image.jpg) no-repeat left/ cover;
    width: 100%;
    height: 70vh;
}

#section_power_img .section_power_img_option {
    padding: 10%;
    padding-top: 20%;
    color:  #fff;        
}

#section_power_img .section_power_img_option h2 {
    font-size: 35px;
}

#section_power_img .section_power_img_option p {
    font-size: 10px;
}

#section_power_img .section_power_img_option .section_power_img_link {
    padding-top: 10px;
    display: flex;
    align-items: center;
}

#section_power_img .section_power_img_option a {
    color:  #fff;
    text-decoration:none;
}

#section_power_img .section_power_img_link .section_power_img_link_arrow {
    fill: #fff;
    padding-left: 5px;
}

/* Section Reasons */
#section_reasons {
    background-color:#84c99d;
    padding-bottom: 10%;
    font-family: "Open Sans bold";
}

#section_reasons .section_reasons_description {
    padding: 10%;
    color:  #fff;
    display: flex;
    flex-direction: column;
}

#section_reasons .section_reasons_description h2{
    padding-bottom: 25px;
    font-size: 20px;
}

#section_reasons .section_reasons_description h3{
    padding-top: 15px;
    font-size: 10px;
}

#section_reasons .section_reasons_description p {
    font-size: 9px;
    padding-top: 15px;
}

/* Section buy  */
#section_buy {
    background-color: #F4F8FB;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 10%;
}

#section_buy .section_buy_solo {
    width: 90%;
}

#section_buy .section_buy_team {
    width: 90%;
}

#section_buy,
.section_buy_solo,
.section_buy_team,
h2 {
    font-size: 20px;
    padding-top: 4%;
    padding-bottom: 4%;
}

#section_buy,
.section_buy_solo,
.section_buy_team,
p {
    padding-bottom: 4%;
    font-size: 9px;
}

#section_buy .section_buy_solo .section_buy_solo_legacy {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 7px;
    background-color: #e2e1e4;
    font-size: 12px;    
}



#section_buy .section_buy_solo .section_buy_solo_9 {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 7px;
    background-color: #7ecc9a;
    font-size: 12px;  
}

#section_buy .section_buy_team .section_buy_team_popular {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 7px;
    background-color: #bc8dc1;
    font-size: 12px; 
}

#section_buy .section_buy_team .section_buy_team_18 {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 7px;
    background-color: #7ecc9a;
    font-size: 12px; 
}

#section_buy,
 .section_buy_solo,
 .section_buy_team,
 .section_buy_solo_applewindow_image {
    fill: #c4c4c4;
}

#section_buy .section_buy_solo, 
.section_buy_team, 
.section_buy_solo_applewindow {
    padding-top: 10px;
}

/* Footer */
footer {
    
    background-color: #182432;
}

footer .footer_touch {
    width:90%;
    padding-left: 10%;
    padding-top: 15%;
    padding-bottom: 2%;
    color: #fff;
}

footer .footer_touch h2{
    font-size: 12px;
}

footer .footer_touch p {
    font-size: 9px;
}

footer .touch_form {
    width: 90%;
    padding-left: 10%;
    font-size: 10px;
    color:  #fff;
    display: flex;
    flex-direction: column;
}

footer .touch_form .touch_form_box {
    border: none;
}

footer .touch_form p {
    padding-top: 2%;
    font-size: 7px;
    color: #56646d;
}

footer .footer_list {
    padding: 10%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
}

footer .footer_list h2 {
    font-size: 10px;
    padding-bottom: 10%;
}

footer .footer_list ul {
    font-size: 9px;
}

footer .footer_list ul li {
    list-style: none;
}

/* media queries Tablette */

@media (min-width: 768px) and (max-width: 1024px)
{
/* Main section */
 #main_section .main_section_description .main_section_description_start .main_section_description_start_paragraphe {
     display: flex;    
}   

/* Section box  */

#main_section .main_section_description .main_section_description_services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#main_section .main_section_description .main_section_description_services
.main_section_description_design,
.main_section_description_built,
.main_section_description_clients,
.main_section_description_signup {
    width: 50%;
}

.main_section_description_pictures {
    width: 100%;
}

.main_section_description_end_paragraphe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.main_section_description_end_paragraphe
.main_section_description_end_paragraphe_web,
.main_section_description_end_paragraphe_performance,
.main_section_description_end_paragraphe_cultural,
.main_section_description_end_paragraphe_sustainability {
    width: 50%;
    padding: 2%;    
}

/* Sections reasons */
.section_reasons_description_paragraphe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section_reasons_description 
.section_reasons_description_paragraphe
.section_reasons_description_paragraphe_web,
.section_reasons_description_paragraphe_team,
.section_reasons_description_paragraphe_support {
    width: 33%;
}

}